---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  post: CollectionEntry<"blog">;
  lazyLoad: boolean;
}

const { post, lazyLoad } = Astro.props;
---

<li class="group w-full md:w-[calc(50%-1rem)] md:first:w-full">
  <a
    class="no-underline transition-all group-hover:text-indigo-700 dark:group-hover:text-indigo-400"
    href={`/blog/${post.slug}/`}
  >
    {
      post.data.heroImage && (
        <Image
          width={720}
          height={360}
          src={post.data.heroImage}
          loading={lazyLoad ? "lazy" : "eager"}
          alt=""
          class="mb-2 aspect-video rounded-lg transition-all group-first:w-full group-hover:shadow-md dark:group-hover:shadow-indigo-500"
        />
      )
    }

    <h4
      class="m-0 text-2xl text-black group-hover:text-indigo-700 group-first:md:text-4xl dark:text-white dark:group-hover:text-indigo-400"
    >
      {post.data.title}
    </h4>

    <p
      class="text-gray-500 group-hover:text-indigo-700 dark:text-gray-400 dark:group-hover:text-indigo-300"
    >
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
</li>
