---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[
    "inline-block hover:underline transition-all",
    {
      ["font-extrabold underline text-indigo-700 hover:text-indigo-500"]:
        isActive,
      ["no-underline hover:text-indigo-400"]: !isActive,
    },
    className,
  ]}
  {...props}
>
  <slot />
</a>
